<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shade">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/general.css" type="text/css">
    <link rel="stylesheet" href="/styles/create.css" type="text/css">

    <title>Profilify | Create</title>
</head>

<body>
    <form class="create-section-div" action="/create" method="post">
        <div class="profile-name-div">
            <input class="profile-name-input" type="text" name="profileName" placeholder="Profile Name" maxlength="20"
                required>
            <p class="error-p"></p>
        </div>
        <hr class="create-section-hr">
        <div class="profile-input-div">
            <p class="input-name-p">Profile Banner Link</p>
            <input class="profile-banner-input" type="text" name="profileBanner" required>
        </div>
        <div class="profile-input-div">
            <p class="input-name-p">Profile Picture Link</p>
            <input class="profile-picture-input" type="text" name="profilePicture" required>
        </div>
        <div class="profile-input-div">
            <p class="input-name-p">Nick</p>
            <input class="profile-nick-input" type="text" name="profileNick" maxlength="20" required>
        </div>
        <div class="profile-input-div">
            <p class="input-name-p">Real Name</p>
            <input class="profile-realname-input" type="text" name="profileRealName" maxlength="25" required>
        </div>
        <div class="profile-input-div">
            <p class="input-name-p">Description</p>
            <textarea class="profile-description-input" type="text" name="profileDescription" maxlength="250"
                required></textarea>
        </div>
        <div class="color-pick-section">
            <div class="color-input-div">
                <p class="input-name-p">Profile Color</p>
                <input class="profile-color color-input" type="color" name="profileColor" required value="#0e0e0e">
            </div>
            <div class="color-input-div">
                <p class="input-name-p">Border Color</p>
                <input class="border-color color-input" type="color" name="borderColor" required value="#0e0e0e">
            </div>
            <div class="color-input-div">
                <p class="input-name-p">Text Color</p>
                <input class="text-color color-input" type="color" name="textColor" required value="#ffffff">
            </div>
        </div>
        <div class="profile-input-div">
            <p class="input-name-p">Profile Background Color</p>
            <input class="profile-background-input color-input" type="color" name="profileBackground" required>
        </div>
        <div class="submit-button-div">
            <button class="submit-button" type="submit" title="Create The Profile">Create +</button>
        </div>
    </form>

    <script type="module" src="/scripts/create.js"></script>
</body>

</html>