<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shade">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/general.css" type="text/css">
    <link rel="stylesheet" href="/styles/home.css" type="text/css">

    <title>Profilify | Home</title>
</head>

<body>
    <div class="main-div">
        <h1 class="header-h1">Profilify</h1>
        <p class="description-p">
            Profilify revolutionizes the way you showcase yourself online, offering an intuitive platform to
            effortlessly create personalized profile cards. Expressing your unique identity and standing out has never
            been simpler!
            <br>
            <br>
            With our array of customizable options, crafting a profile that reflects your style is a breeze. From
            background colors to fonts, images, and GIFs, personalize every aspect to truly represent who you are.
            Strengthen your online presence with a profile card that speaks volumes.
            <br>
            <br>
            In just a few steps, create a professional and captivating profile card with Profilify. Showcase your
            talents, connect with others, and explore your potential. Join us and redefine your digital presence today!
        </p>
        <hr class="main-hr">
        <div class="image-div">
            <p class="image-text-p">Custom Profiles With Profilify</p>
            <img class="profile-img" src="/images/profile.png" alt="Example Profile Image">
        </div>
        <hr class="main-hr">
        <div class="profile-menu">
            <h1 class="profile-h1">Your Profiles</h1>
            <a href="/create">
                <button class="create-button">Create Profile +</button>
            </a>
        </div>
        <div class="profiles"></div>
    </div>
    <script type="module" src="/scripts/home.js"></script>
</body>

</html>