<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shade">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/general.css" type="text/css">
    <link rel="stylesheet" href="/styles/view.css" type="text/css">

    <title>Profilify | View</title>
</head>

<body>
    <div class="profile-div">
        <img class="banner-image" src="">
        <img class="profile-picture-image" src="">
        <div class="profile-bottom-section">
            <p class="nick-p"></p>
            <hr class="profile-hr">
            <p class="about-me-p">About Me</p>
            <p class="description-p"></p>
        </div>
    </div>
    <script type="module" src="/scripts/view.js"></script>
</body>

</html>