body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #313338;
}

.create-section-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px;
    width: 550px;
    margin-top: 80px;
    border-radius: 6px;
    background-color: #232428;
}

.profile-name-input {
    margin-top: 10px;
    width: 500px;
    height: 40px;
    font-size: 33px;
    background-color: transparent;
    color: white;
}

.profile-name-input::placeholder {
    color: white;
}

.create-section-hr {
    width: 500px;
    height: 1px;
    background-color: rgb(53, 53, 53);
}

.profile-input-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    width: 500px;
}

.input-name-p {
    margin-left: 2px;
    color: white;
    font-size: 16px;
}

.profile-banner-input,
.profile-picture-input,
.profile-background-input {
    padding: 0px 10px;
    width: 478px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #111214;
    border: rgb(53, 53, 53) solid 1px;
    color: white
}

.profile-nick-input {
    padding: 0px 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #111214;
     border: rgb(53, 53, 53) solid 1px;
    color: white;
}

.profile-description-input {
    padding: 10px;
    width: 478px;
    height: 200px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #111214;
     border: rgb(53, 53, 53) solid 1px;
    color: white;
    resize: none;
}

.submit-button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.submit-button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: rgb(49, 240, 49);
}