* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding-bottom: 20px;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.header-h1 {
    color: white;
    font-size: 120px;
    font-weight: 600;
}

.description-p {
    margin-top: 20px;
    width: 700px;
    color: #7D7D7D;
    font-size: 17px;
}

.main-hr {
    margin-top: 20px;
    background-color: #7D7D7D;
    width: 700px;
    height: 1px;
}

.profile-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 700px;
}

.profile-h1 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.create-button {
    padding: 0px 10px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    border: solid 2px rgba(37, 255, 37, 0.836);
}

.profiles {
    width: 700px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 30px;
    column-gap: 50px;
}

.no-profile-p {
    font-size: 18px; 
    color: #7D7D7D;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    border: white solid 1px;
    background-color: black;
}

.profile-div:hover {
    background-color: #0e0e0e;
}

.profile-image {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: #232428 solid 2px;
    object-fit: cover;
    object-position: center;
}

.profile-name {
    color: white;
    font-size: 22px;
}

@media (max-width: 770px) {
    .header-h1 {
        width: 500px;
        text-align: left;
    }
    .description-p {
        width: 500px;
    }
    .main-hr {
        width: 500px;
    }
    .profile-menu {
        width: 500px;
    }
    .profiles {
        width: 500px;
        grid-template-columns: 150px 150px 150px;
        column-gap: 25px;
    }
}

@media (max-width: 600px) {
    .header-h1 {
        font-size: 100px;
        width: 400px;
    }
    .description-p {
        font-size: 16px;
        width: 400px;
    }
    .main-hr {
        width: 400px;
    }
    .profile-menu {
        width: 400px;
    }
    .profiles {
        width: 400px;
        grid-template-columns: 170px 170px;
        column-gap: 60px;
    }
}

@media (max-width: 475px) {
    .main-div {
        padding-top: 40px;
    }
    .profile-h1 {
        font-size: 20px;
    }
    .header-h1 {
        font-size: 70px;
        width: 300px;
    }
    .description-p {
        font-size: 14px;
        width: 300px;
    }
    .main-hr {
        width: 300px;
    }
    .profile-menu {
        width: 300px;
    }
    .profiles {
        width: 300px;
        grid-template-columns: 300px;
    }
}