body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 400px;
    border-radius: 7px;
    border: #232428 solid 5px;
    background-color: #232428;
}

.banner-image {
    width: 400px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.profile-picture-image {
    position: absolute;
    top: 70px;
    left: 148px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: #232428 solid 2px;
    object-fit: cover;
    object-position: center;
}

.profile-bottom-section {
    margin-top: 40px;
    padding: 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 7px;
    background-color: #111214;
}

.name-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

.nick-p {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.realName-p {
    color: rgb(53, 53, 53);
    font-size: 22px;
    font-weight: 300;
}

.profile-hr {
    margin-top: 7px;
    width: 330px;
    height: 1px;
    background-color: rgb(53, 53, 53);
}

.about-me-p {
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.description-p {
    margin-top: 5px;
    width: 330px;
    max-height: 300px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.date-p {
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 25px;
    background-color: #111214;
    border-top: rgb(53, 53, 53) solid 1px;
}

.home-link {
    color: white;
    font-size: 14px;
}

@media (max-width: 420px) {
    .profile-div {
        width: 350px;
    }

    .banner-image {
        width: 350px;
    }

    .profile-picture-image {
        left: 123px;
    }

    .profile-bottom-section {
        width: 300px;
    }

    .nick-p {
        font-size: 19px;
    }

    .realName-p {
        font-size: 19px;
    }

    .profile-hr {
        width: 300px;
    }

    .about-me-p {
        font-size: 13px;
    }

    .description-p {
        width: 300px;
        font-size: 13px;
    }

    .date-p {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .profile-div {
        width: 320px;
    }

    .banner-image {
        width: 320px;
    }

    .profile-picture-image {
        left: 108px;
    }

    .profile-bottom-section {
        width: 270px;
    }

    .nick-p {
        font-size: 18px;
    }

    .realName-p {
        font-size: 18px;
    }

    .profile-hr {
        width: 270px;
    }

    .about-me-p {
        font-size: 12px;
    }

    .description-p {
        width: 270px;
        font-size: 12px;
    }

    .date-p {
        font-size: 12px;
    }
}

@media (max-width:340px) {
    .profile-div {
        width: 300px;
    }

    .banner-image {
        width: 300px;
    }

    .profile-picture-image {
        left: 98px;
    }

    .profile-bottom-section {
        width: 250px;
    }

    .nick-p {
        font-size: 17px;
    }

    .realName-p {
        font-size: 17px;
    }

    .profile-hr {
        width: 250px;
    }

    .about-me-p {
        font-size: 11px;
    }

    .description-p {
        width: 250px;
        font-size: 11px;
    }

    .date-p {
        font-size: 11px;
    }
}